* {
border:0;
margin:0;
padding:0;
}

.flexwr {
display:-webkit-box;
display:-moz-box;
display:-ms-flexbox;
display:-webkit-flex;
display:flex;
position:absolute;
top:0;
bottom:0;
right:0;
left:0;
}

.flexpg {
margin:auto;
}

.info {
float:left;
height:48px;
padding:0 10px;
width:159px;
}

.map_name {
font-size:14px;
}

.pic {
float:left;
width:48px;
}

.pic img {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
height:48px;
width:48px;
}

.players {
float:right;
font-size:14px;
font-weight:700;
}

.server {
cursor:pointer;
margin-bottom:39px;
padding-bottom:19px;
width:230px;
}

.server_name {
color:#1A479C;
font-size:16px;
margin-top:3px;
white-space:nowrap;
}

.wmessage {
height:75%;
}

a,a:visited {
color:#1A4780;
}

a:hover,div:hover.server_name {
text-decoration:underline;
}

a:link,a:visited {
text-decoration:none;
}

body {
background:#f7f7f7;
font-family:'Trebuchet MS',Helvetica,Arial,sans-serif;
}
